<form [formGroup]="objectForm">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    min:
    <input type="text" formControlName="min">
  </label>

  <label>
    min:
    <input type="text" formControlName="max">
  </label>

  <label>
    step:
    <input type="text" formControlName="step">
  </label>
  <button type="button" (click)="addObject()">Add Object</button>
  <div *ngIf="!(objectArray===undefined ||objectArray.length == 0)">
    <p *ngFor="let object of objectArray">{{object}}</p>
  </div>
</form>
